<!-- 

Create a Form with the following Controls and Validators
- Project Name (should not be empty)
- Mail (should not be a empty and a valid email)
- Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
- Submit Button

Add your own Validator which doesn't allow "Test" as a Project Name
Also implement that Validator as an async Validator (replace the other one)
Upon submitting the form, simply print the value to the console

-->
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-md-offset-2">
      <h1>Home work 7 - Reactive Froms</h1>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="form-group">
          <label for="name">Project Name:</label>
          <input 
            type="text" 
            name="name" 
            id="name" 
            class="form-control" 
            formControlName="name"
          />
        </div>
        <p *ngIf="!getFormControl('name').valid && getFormControl('name').touched" class="error-note">
          <ng-container *ngIf="getFormControlErrors('name', 'required')">Project name is required</ng-container>
          <ng-container *ngIf="getFormControlErrors('name', 'invalidName')">Project name is invalid</ng-container>
        </p>       
        <div class="form-group">
          <label for="email">Email:</label>
          <input 
            type="email" 
            name="email" 
            id="email" 
            class="form-control" 
            formControlName="email"
          />
        </div>
        <p *ngIf="!getFormControl('email').valid && getFormControl('email').touched" class="error-note">
          <ng-container *ngIf="getFormControlErrors('name', 'required')">Email is required</ng-container>
          <ng-container *ngIf="getFormControlErrors('email', 'email')">Email is invalid</ng-container>
          <ng-container *ngIf="getFormControlErrors('email', 'emailIsUsed')">Email have already used</ng-container>
        </p>
        <div class="form-group">
          <label for="status">Project Status:</label>
          <select 
            type="status" 
            name="status" 
            id="status" 
            class="form-control"
            formControlName="status"
          >
            <option *ngFor="let status of projectstatus;" [value]="status">{{ status }}</option>
          </select>
        </div>
        <div class="alert alert-danger" *ngIf="!form.valid && form.touched">Form invalid</div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </form>

      <pre *ngIf="formSubmitted && !form.touched">{{ formData | json }}</pre>
    </div>
  </div>
</div>